body {
  margin: 0;
  font-family:'Roboto';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.editor-wrapper {
  height: 800px;
  position: relative;
}
.navbar{
  background-color: rgb(250, 250, 250);
}
  
